<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.mobilepearls.memory" android:versionCode="7" android:versionName="1.6" android:installLocation="auto">
	<supports-screens android:anyDensity="true" android:smallScreens="true" android:normalScreens="true" android:largeScreens="true"/>
	<uses-sdk android:minSdkVersion="11" android:targetSdkVersion="19"/>
	<application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" android:allowBackup="true">
        <activity android:name=".MemoryActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ListHighScoresActivity" android:theme="@android:style/Theme.Dialog"/>
        <activity android:name=".AboutActivity" android:theme="@android:style/Theme.Dialog"/>
    </application>
</manifest>
